@{
    ViewBag.Title = "Index";
}


<div class="page-header">
  <h2>Customer Dashboard</h2>
</div>

<ul class="nav nav-tabs">
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orders
        <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="active"><a href="#">Accepted</a></li>
            <li><a href="#">Confirmed</a></li>
            <li><a href="#">Pending</a></li>
            <li><a href="#">Rejected</a></li>
        </ul>
    </li>

    <li><a href="#">Bills</a></li>
    <li><a href="#">Partners</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Subscribed</a></li>
            <li><a href="#">Purchased</a></li>
        </ul>

    </li>

    <li><a href="#">Profile</a></li>
</ul>
