@{
    ViewBag.Title = "Customer Management";
}

<ul id="myTab" class="nav nav-tabs">
    <li  class="active"><a href="#" class="btn-large">Customer List</a></li>
    <li><a href="#"  class="btn-large">Add New Customer</a></li>
    <li><a href="#"  class="btn-large disabled">Edit Customers</a></li>
</ul>

@*<ul id="myTab" class="nav nav-tabs">
    <li  class="active"><a href="#">Partner List</a></li>
    <li><a href="#" >Add New Partner</a></li>
    <li><a href="#">Edit Partner</a></li>
</ul>*@