@{
    ViewBag.Title = "Orders";
}

<ul class="nav nav-tabs">
    <li><a href="#"></a></li>
    <li class="active"><a href="#">All Orders</a></li>
    <li><a href="#">Accepted</a></li>
    <li><a href="#">Confirmed</a></li>
    <li><a href="#">Pending</a></li>
    <li><a href="#">Rejected</a></li>
</ul>
