@{
    ViewBag.Title = "Order Management";
}

<ul id="myTab" class="nav nav-tabs">
    <li><a href="~/Order/Create" class="btn-large">Create Order</a></li>
    <li  class="active"><a href="~/Order/Manage"  class="btn-large">Manage Order</a></li>
</ul>