@{
    ViewBag.Title = "Patner Management";
}


<ul id="myTab" class="nav nav-tabs">
    <li><a href="~/Partner/Manage" class="btn-large">Partner List</a></li>
    <li><a href="~/Partner/Add"  class="btn-large">Add New Partner</a></li>
    @*<li  class="active disabled"><a href="~/Partner/Edit"  class="btn-large">Edit Partner</a></li>*@
</ul>