@{
    ViewBag.Title = "Manage Partner Products";
}

<ul id="myTab" class="nav nav-tabs">
    <li  class="active"><a href="#" class="btn-large">Product List</a></li>
    <li><a href="#"  class="btn-large">Add New Product</a></li>
    <li><a href="#"  class="btn-large">Edit Product</a></li>
    <li><a href="#"  class="btn-large">Product-wise shares</a></li>
</ul>