@{
    ViewBag.Title = "Manage Partner Products";
}

<ul id="myTab" class="nav nav-tabs">
    <li><a href="~/Product/Manage" class="btn-large">Product List</a></li>
    <li><a href="~/Product/Add"  class="btn-large">Add New Product</a></li>
    <li  class="active"><a href="~/Product/Share"  class="btn-large">Product-wise share</a></li>
</ul>
