@{
    ViewBag.Title = "Contact";
}

<div class="hero-unit">
    <h2>Contact Us</h2>
    <p>
        Level 9, Avaya House,
        123 Epping Road,
        North Ryde, NSW 2113

    </p>
    <p>
    Tel:  +61 2 8875 7768 <br />    Fax: +61 2 8875 7777
            </p>
    <p>

        Mobile: +61 423 509 908 <br />Email: sales@invia.com.au
    </p>

    <p>
        <a class="btn btn-primary btn-large"  href="http://www.invia.com.au">Learn more</a>
    </p>
</div>