@{
    ViewBag.Title = "Home Page";
}


<div class="hero-unit">
    <h1>OBMP</h1>
    <p>Welcom to Optus Business Market Place</p>
    <p>
        <a class="btn btn-primary btn-large">Learn more</a>
    </p>
</div>

<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail picture</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>

      <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail picture</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail picture</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail picture</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail picture</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
      <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail picture</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
      <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail picture</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail picture</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
      <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail picture</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
</ul>